body {
    background-color: #091022;
    font-family: 'Open Sans Light', sans-serif;
}
h1.h1-header {
    text-align: center;
    color: white;
    display: inline-block;
    width: 80%;
    position: relative;
    left: 10%;
}